body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(252, 252, 252);
    color: white;
    font-family: Arial, sans-serif;
}
.clock {
    font-size: 3rem;
    font-weight: bold;
    background: #333;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}